@model List<int>
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

@using (Html.BeginForm())
{
    <input type="number" value="id" name="ids" />
    <input type="number" value="id" name="ids" />
    <input type="number" value="id" name="ids" />


    <input type="submit" value="Delete" />
}
